{%extends 'layouts/base.html'%}

{%block title %}
PetCare - Pesquisar por um Pet
{%endblock%}

{%block styles%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pesquisar-pet.css' %}">
{%endblock%}

{%block content%}
<main>
    <header>
        <div class="px-3 py-2 text-white bg-orange">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a  href="{% url 'painel' %}" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <u>PetCare para clinicas</u>
              </a>
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="{% url 'painel' %}" class="nav-link text-danger-emphasis">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                    Painel
                  </a>
                </li>
                <li>
                    <a href="{% url 'infoclinica' %}" class="nav-link text-white">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-building d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
                        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
                      </svg>
                      Clinica
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-end">
            <div class="text-end">
              <button type="button" class="btn btn-danger" id="logout">Sair da minha conta</button>
            </div>
          </div>
        </div>
    </header>
    <div class="container">
       <div class="card shadow border-0 p-3">
            <div class="card-header">
                <h3>Pesquise um pet usando o código unico.</h3>
            </div>
            <div class="card-body">
                <br/>
                <form id="formSearch" class="needs-validation" novalidate>
                    <div>
                        <input class="form-control me-2" id="codigo-input" type="text" placeholder="Insira o código" aria-label="Insira o código">
                        <div class="invalid-feedback" id="invalid-feedback-codigo">
                            Por favor, insira o código do pet.
                        </div>
                    </div>
                    <br/>
                    <button class="btn btn-outline-success"  type="submit">Buscar</button>
                </form>
                <br/>
                <br/>
                <div id="hm-container">
                    <div>
                        <nav class="nav nav-pills nav-fill">
                            <a class="nav-link" href="#medicamentos">Medicamentos</a>
                            <a class="nav-link" href="#doencas">Doeças</a>
                            <a class="nav-link" href="#cirurgias">Cirurgias</a>
                            <a class="nav-link" href="#consultas">Consultas</a>
                        </nav>
                    </div>
                    <br/>
                    <div class="card p-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-center">
                                <p>Nome: <span id="nome"></span></p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="m-0">Código: <span id="codigo"></span></p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div>
                                <p>Raça: <strong id="raca"></strong></p>
                                <p>Especie: <strong id="especie"></strong></p>
                                <p>Idade: <strong id="idade"></strong></p>
                                <p>Peso: <strong id="peso"></strong></p>
                                <p>Genero: <strong id="genero"></strong></p>
                                <p>Observações: <strong id="obs"></strong></p>
                            </div>
                            <br/>
                            <section id="medicamentos">
                                <div>
                                    <div class="d-lg-flex justify-content-between align-items-end mb-2">
                                        <h5><u>Medicamentos</u></h5>
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#medicamento-modal">
                                            Adicionar um medicamento
                                        </button>
                                    </div>
                                    <div>
                                        <div class="card p-3">
                                            <div class="card-body" id="list-medicamentos">
                                                <div class="border-bottom">
                                                    <p>Nome: <strong></strong></p>
                                                    <p>Tipo: <strong></strong></p>
                                                    <p>Data da aplicação: <strong></strong></p>
                                                    <p>Data de reforço: <strong></strong></p>
                                                    <p>Detalhes: <strong></strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <br/>
                            <section id="doencas">
                                <div>
                                    <div class="d-lg-flex justify-content-between align-items-end mb-2">
                                        <h5><u>Doenças documentadas</u></h5>
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#doenca-modal">
                                            Adicionar um doença 
                                        </button>
                                    </div>
                                    <div>
                                        <div class="card p-3">
                                            <div class="card-body" id="list-doencas">
                                                <div class="border-bottom">
                                                    <p>Nome: <strong></strong></p>
                                                    <p>Status: <strong></strong></p>
                                                    <p>Sintomas: <strong></strong></p>
                                                    <p>Descrição: <strong></strong></p>
                                                    <p>Data do diagnostico: <strong></strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <br/>
                            <section id="cirurgias">
                                <div>
                                    <div class="d-lg-flex justify-content-between align-items-end mb-2">
                                        <h5><u>Cirurgias</u></h5>
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#cirurgia-modal">
                                            Agendar uma cirurgia 
                                        </button>
                                    </div>
                                    <div>
                                        <div class="card p-3">
                                            <div class="card-body"  id="list-cirurgias">
                                                <div class="border-bottom">
                                                    <p>Nome: <strong></strong></p>
                                                    <p>Status: <strong></strong></p>
                                                    <p>Detalhes: <strong></strong></p>
                                                    <p>Data: <strong></strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <br/>
                            <section id="consultas">
                                <div>
                                    <div class="d-lg-flex justify-content-between align-items-end mb-2">
                                        <h5><u>Consultas</u></h5>
                                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#consulta-modal">
                                            Agendar uma consulta 
                                        </button>
                                    </div>
                                    <div>
                                        <div class="card p-3">
                                            <div class="card-body" id="list-consultas">
                                                <div class="border-bottom">
                                                    <p>Razão: <strong></strong></p>
                                                    <p>Veterinario: <strong></strong></p>
                                                    <p>Clinica: <strong></strong></p>
                                                    <p>Data: <strong></strong></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="modal fade" id="medicamento-modal" tabindex="-1" aria-labelledby="medicamento-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="medicamento-modal-title">Cadastrar um medicamento</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-medicamento" novalidate>
                <div class="mb-3">
                    <div id="placeholder-medicamento"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="nome-medicamento">Nome do medicamento <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="nome-medicamento" required maxlength="200" >
                    <div class="invalid-feedback" id="invalid-feedback-nome-medicamento">
                        Por favor, insira o nome do medicamento.
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <label class="input-group-text" for="data-aplicacao-medicamento">Data da aplicação <span class="text-danger mx-1">*</span></label>
                    <input type="date" class="form-control" id="data-aplicacao-medicamento" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-aplicacao-medicamento">
                        Por favor, informe a data de aplicação.
                    </div>
                </div>
                <div class="mb-3 input-group">
                    <label for="data-reforco-medicamento" class="input-group-text" >Data de reforço <span class="text-danger mx-1">*</span></label>
                    <input type="date" class="form-control" id="data-reforco-medicamento" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-reforco-medicamento">
                        Por favor, informe a data de reforço.
                    </div>
                </div>
                <div class="mb-2 input-group">
                    <label for="tipo-medicamento" class="input-group-text">Tipo do medicamento <span class="text-danger mx-1">*</span></label>
                    <select class="form-select" aria-label="Tipo do medicamento" id="tipo-medicamento" required>
                        <option selected hidden value="">Escolha</option>
                        <option value="1">Vacina</option>
                        <option value="2">Vermífugo</option>
                      </select>
                    <div class="invalid-feedback" id="invalid-feedback-tipo-medicamento">
                        Por favor, informe o tipo do medicamento.
                    </div>
                </div>
                <div class="mb-4 form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="detalhes-medicamento" style="height: 100px"></textarea>
                    <label for="detalhes-medicamento">Detalhes</label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Adicionar</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="editar-medicamento-modal" tabindex="-1" aria-labelledby="editar-medicamento-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editar-medicamento-modal-title">Editar Medicamento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="needs-validation" id="form-medicamento-editar" novalidate>
                        <div class="mb-4">
                            <div id="placeholder-medicamento-editar"></div>
                        </div>
                        <div>
                            <p>
                                Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                            </p>
                        </div>
                        <input type="hidden" id="id-medicamento-editar" /> 
                        <div class="mb-3 input-group">
                            <label for="nome-medicamento-editar" class="input-group-text">Nome do medicamento <span class="text-danger mx-1">*</span></label>
                            <input type="text" class="form-control" id="nome-medicamento-editar" maxlength="200" required>
                            <div class="invalid-feedback" id="invalid-feedback-nome-medicamento-editar">
                                Por favor, insira o nome do medicamento.
                            </div>
                        </div>
    
                        <div class="mb-3 input-group">
                            <label for="data-inicio-medicamento-editar" class="input-group-text">Data de aplicação <span class="text-danger mx-1">*</span></label>
                            <input type="date" class="form-control" id="data-aplicacao-medicamento-editar" required>
                            <div class="invalid-feedback" id="invalid-feedback-data-aplicacao-medicamento-editar">
                                Por favor, insira a data de aplicação do medicamento.
                            </div>
                        </div>
                        
                        <div class="mb-3 input-group">
                            <label for="data-reforco-medicamento-editar" class="input-group-text">Data de Reforço <span class="text-danger mx-1">*</span></label>
                            <input type="date" class="form-control" id="data-reforco-medicamento-editar" required>
                            <div class="invalid-feedback" id="invalid-feedback-data-reforco-medicamento-editar">
                                Por favor, insira a data de reforço do medicamento.
                            </div>
                        </div>

                        <div class="mb-3 input-group">
                            <label for="tipo-medicamento-editar" class="input-group-text">Tipo do medicamento <span class="text-danger mx-1">*</span></label>
                            <select class="form-select" aria-label="Tipo do medicamento" id="tipo-medicamento-editar" required>
                                <option selected hidden value="">Escolha</option>
                                <option value="1">Vacina</option>
                                <option value="2">Vermífugo</option>
                              </select>
                            <div class="invalid-feedback" id="invalid-feedback-tipo-medicamento-editar">
                                Por favor, informe o tipo do medicamento.
                            </div>
                        </div>
    
                        <div class="mb-3 form-floating">
                            <textarea class="form-control" placeholder="Detalhes e observações sobre o medicamento" id="detalhes-medicamento-editar" style="height: 100px"></textarea>
                            <label for="detalhes-medicamento-editar">Detalhes</label>
                        </div>
    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-success">Salvar alterações</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="doenca-modal" tabindex="-1" aria-labelledby="doenca-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Registrar uma doença</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-doenca" novalidate>
                <div class="mb-4">
                    <div id="placeholder-doenca"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <div class="mb-3 input-group">
                    <label for="nome-doenca" class="input-group-text">Nome da doença <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="nome-doenca" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-nome-doenca">
                        Por favor, insira o nome da doença.
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Digite os sintomas" id="sintomas-doenca" style="height: 100px" required></textarea>
                    <label for="sintomas-doenca">Sintomas <span class="text-danger mx-1">*</span></label>
                    <div class="invalid-feedback" id="invalid-feedback-sintomas-doeca">
                        Por favor, insira os sitomas da doença.
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Descrição da doença" id="descricao-doenca" style="height: 100px"></textarea>
                    <label for="descricao-doenca">Detalhes</label>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-diagnostico-doenca"  class="input-group-text">Data do diagnostico <span class="text-danger mx-1">*</span></label>
                    <input type="date" class="form-control" id="data-diagnostico-doenca" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-diagnostico-doenca">
                        Por favor, informe a data de diagnostico.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="status-doenca" class="input-group-text">Status da doença <span class="text-danger mx-1">*</span></label>
                    <select class="form-select" aria-label="Status da doença" id="status-doenca" required>
                        <option selected hidden value="">Escolha</option>
                        <option value="1">Em Tratamento</option>
                        <option value="2">Recuperado</option>
                        <option value="3">Crônico</option>
                      </select>
                    <div class="invalid-feedback" id="invalid-feedback-status-doenca">
                        Por favor, informe a situação atual da doença.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Adicionar</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="editar-doenca-modal" tabindex="-1" aria-labelledby="editar-doenca-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Editar doença</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-doenca-editar" novalidate>
                <div class="mb-4">
                    <div id="placeholder-doenca-editar"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <input type="hidden" id="id-doenca-editar" /> 
                <div class="mb-3 input-group">
                    <label for="nome-doenca-editar" class="input-group-text">Nome da doença <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="nome-doenca-editar" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-nome-doenca-editar">
                        Por favor, insira o nome da doença.
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Digite os sintomas" id="sintomas-doenca-editar" style="height: 100px" required></textarea>
                    <label for="sintomas-doenca-editar">Sintomas <span class="text-danger mx-1">*</span></label>
                    <div class="invalid-feedback" id="invalid-feedback-sintomas-doeca-editar">
                        Por favor, insira os sitomas da doença.
                    </div>
                </div>

                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Descrição da doença" id="descricao-doenca-editar" style="height: 100px"></textarea>
                    <label for="descricao-doenca-editar">Detalhes</label>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-diagnostico-doenca-editar"  class="input-group-text">Data do diagnostico <span class="text-danger mx-1">*</span></label>
                    <input type="date" class="form-control" id="data-diagnostico-doenca-editar" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-diagnostico-doenca-editar">
                        Por favor, informe a data de diagnostico.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="status-doenca-editar" class="input-group-text">Status da doença <span class="text-danger mx-1">*</span></label>
                    <select class="form-select" aria-label="Status da doença" id="status-doenca-editar" required>
                        <option selected hidden value="">Escolha</option>
                        <option value="1">Em Tratamento</option>
                        <option value="2">Recuperado</option>
                        <option value="3">Crônico</option>
                      </select>
                    <div class="invalid-feedback" id="invalid-feedback-status-doenca-editar">
                        Por favor, informe a situação atual da doença.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="cirurgia-modal" tabindex="-1" aria-labelledby="cirurgia-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Agendar uma cirurgia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-cirurgia" novalidate>
                <div class="mb-4">
                    <div id="placeholder-cirurgia"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <div class="mb-3 input-group">
                    <label for="nome-cirurgia" class="input-group-text">Nome da cirurgia <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="nome-cirurgia" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-nome-cirurgia">
                        Por favor, insira o nome da cirurgia.
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Descrição da cirurgia" id="descricao-cirurgia" style="height: 100px"></textarea>
                    <label for="descricao-cirurgia">Detalhes</label>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-cirurgia"  class="input-group-text">Data da cirurgia <span class="text-danger mx-1">*</span></label>
                    <input type="datetime-local" class="form-control" id="data-cirurgia" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-cirurgia">
                        Por favor, informe a data da cirurgia.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="status-cirurgia" class="input-group-text">Status da doença <span class="text-danger mx-1">*</span></label>
                    <select class="form-select" aria-label="Status da cirurgia" id="status-cirurgia" required>
                        <option selected hidden value="">Escolha</option>
                        <option value="1">Pendente</option>
                        <option value="2">Realizada</option>
                        <option value="3">Cancelada</option>
                        <option value="4">Em Recuperação</option>
                      </select>
                    <div class="invalid-feedback" id="invalid-feedback-status-cirurgia">
                        Por favor, informe a situação atual da cirurgia.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Agendar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="editar-cirurgia-modal" tabindex="-1" aria-labelledby="editar-cirurgia-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Editar uma cirurgia</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-cirurgia-editar" novalidate>
                <div class="mb-4">
                    <div id="placeholder-cirurgia-editar"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <input type="hidden" id="id-cirurgia-editar" /> 
                <div class="mb-3 input-group">
                    <label for="nome-cirurgia-editar" class="input-group-text">Nome da cirurgia <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="nome-cirurgia-editar" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-nome-cirurgia-editar">
                        Por favor, insira o nome da cirurgia.
                    </div>
                </div>
                <div class="mb-3 form-floating">
                    <textarea class="form-control" placeholder="Descrição da cirurgia" id="descricao-cirurgia-editar" style="height: 100px"></textarea>
                    <label for="descricao-cirurgia-editar">Detalhes</label>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-cirurgia-editar" class="input-group-text">Data da cirurgia <span class="text-danger mx-1">*</span></label>
                    <input type="datetime-local" class="form-control" id="data-cirurgia-editar" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-cirurgia-editar">
                        Por favor, informe a data da cirurgia.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="status-cirurgia-editar" class="input-group-text">Status da doença <span class="text-danger mx-1">*</span></label>
                    <select class="form-select" aria-label="Status da cirurgia" id="status-cirurgia-editar" required>
                        <option selected hidden value="">Escolha</option>
                        <option value="1">Pendente</option>
                        <option value="2">Realizada</option>
                        <option value="3">Cancelada</option>
                        <option value="4">Em Recuperação</option>
                      </select>
                    <div class="invalid-feedback" id="invalid-feedback-status-cirurgia-editar">
                        Por favor, informe a situação atual da cirurgia.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="consulta-modal" tabindex="-1" aria-labelledby="consulta-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Agendar uma consulta</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-consulta" novalidate>
                <div class="mb-4">
                    <div id="placeholder-consulta"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <div class="mb-3 input-group">
                    <label for="razao-consulta" class="input-group-text">Razão da consulta <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="razao-consulta" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-razao-consulta">
                        Por favor, insira a razão da consulta.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-consulta"  class="input-group-text">Data da consulta <span class="text-danger mx-1">*</span></label>
                    <input type="datetime-local" class="form-control" id="data-consulta" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-consulta">
                        Por favor, informe a data da consulta.
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Agendar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="editar-consulta-modal" tabindex="-1" aria-labelledby="editar-consulta-modal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Editar uma consulta</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form class="needs-validation" id="form-consulta-editar" novalidate>
                <div class="mb-4">
                    <div id="placeholder-consulta-editar"></div>
                </div>
                <div>
                    <p>
                        Campos marcados com <span class="text-danger mx-1">*</span> são obrigatórios.
                    </p>
                </div>
                <input type="hidden" id="id-consulta-editar" /> 
                <div class="mb-3 input-group">
                    <label for="razao-consulta-editar" class="input-group-text">Razão da consulta <span class="text-danger mx-1">*</span></label>
                    <input type="text" class="form-control" id="razao-consulta-editar" required maxlength="200">
                    <div class="invalid-feedback" id="invalid-feedback-razao-consulta-editar">
                        Por favor, insira a razão da consulta.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <label for="data-consulta-editar"  class="input-group-text">Data da consulta <span class="text-danger mx-1">*</span></label>
                    <input type="datetime-local" class="form-control" id="data-consulta-editar" required>
                    <div class="invalid-feedback" id="invalid-feedback-data-consulta-editar">
                        Por favor, informe a data da consulta.
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-orange">Agendar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="success-delete" tabindex="-1" aria-labelledby="success-delete" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="success-delete">Tenha certeza disso!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" id="close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirmar exclusão?</p>

                <div id="result" class="mt-3">
                        
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="reject-delete">Fechar</button>
              <button type="button" class="btn btn-danger" id="confirm-delete">Excluir</button>
            </div>
          </div>
        </div>
    </div>
</main>
<script type="module" src="{% static 'js/scripts/logout-script.js' %}" data-button-id="logout"></script>
<script type="module" src="{% static 'js/pesquisar-pet.js' %}"></script>
{%endblock%}