{%extends 'layouts/base.html'%}

{%block title %}
PetCare - Historico Medico
{%endblock%}

{%block styles%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/pet-details.css' %}">
{%endblock%}

{%block content%}
<main>
    <header>
        <div class="px-3 py-2 text-white bg-orange">
          <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <u>PetCare</u>
              </a>
              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="{% url 'inicio' %}" class="nav-link text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                    Inicio
                  </a>
                </li>
                <li>
                  <a href="{% url 'meuspets' %}" class="nav-link text-danger-emphasis">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                    </svg>
                    Meus Pets
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <svg xmlns="http://www.w3.org/2000/svg"  width="24" height="24" fill="currentColor" class="bi bi-heart-pulse d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857q.09.083.176.171a3 3 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01zM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5"/>
                        <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162z"/>
                      </svg>
                    Clinicas
                  </a>
                </li>
                <li>
                  <a href="#" class="nav-link text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi d-block mx-auto mb-1" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    Minha conta
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
          <div class="container d-flex flex-wrap justify-content-end">
            <div class="text-end">
              <button type="button" class="btn btn-danger" id="logout">Sair da minha conta</button>
            </div>
          </div>
        </div>
    </header>
    <div class="container">
        <div class="card p-3 border-0 shadow" id="conteudo">
            <div class="card-header">
                <div class="d-flex justify-content-center">
                    <p>Nome: <span id="nome"></span></p>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="m-0">Código: <span id="codigo"></span></p>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <p>Raça: <strong id="raca"></strong></p>
                    <p>Especie: <strong id="especie"></strong></p>
                    <p>Idade: <strong id="idade"></strong></p>
                    <p>Peso: <strong id="peso"></strong></p>
                    <p>Genero: <strong id="genero"></strong></p>
                    <p>Observações: <strong id="obs"></strong></p>
                </div>
                <br/>
                <div>
                    <h5><u>Medicamentos</u></h5>
                    <div>
                        <div class="card p-3">
                            <div class="card-body" id="list-medicamentos">
                                <div class="border-bottom">
                                    <p>Nome: <strong></strong></p>
                                    <p>Tipo: <strong></strong></p>
                                    <p>Data da aplicação: <strong></strong></p>
                                    <p>Data de reforço: <strong></strong></p>
                                    <p>Detalhes: <strong></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <h5><u>Doenças documentadas</u></h5>
                    <div>
                        <div class="card p-3">
                            <div class="card-body" id="list-doencas">
                                <div class="border-bottom">
                                    <p>Nome: <strong></strong></p>
                                    <p>Status: <strong></strong></p>
                                    <p>Sintomas: <strong></strong></p>
                                    <p>Descrição: <strong></strong></p>
                                    <p>Data do diagnostico: <strong></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <h5><u>Cirurgias</u></h5>
                    <div>
                        <div class="card p-3" id="list-cirurgias">
                            <div class="card-body">
                                <div class="border-bottom">
                                    <p>Nome: <strong></strong></p>
                                    <p>Status: <strong></strong></p>
                                    <p>Detalhes: <strong></strong></p>
                                    <p>Data: <strong></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div>
                    <h5><u>Consultas</u></h5>
                    <div>
                        <div class="card p-3" id="list-consultas">
                            <div class="card-body">
                                <div class="border-bottom">
                                    <p>Razão: <strong></strong></p>
                                    <p>Clinica: <strong></strong></p>
                                    <p>Data: <strong></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="module" src="{% static 'js/scripts/logout-script.js' %}" data-button-id="logout"></script>
<script type="module" src="{% static 'js/pet-details.js' %}"></script>
{%endblock%}