{%extends 'layouts/base.html'%}

{%block title %}
PetCare - Sou Clinica
{%endblock%}

{%block styles%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/souclinica.css' %}">
{%endblock%}

{%block content%}
<main>
    <header>
        <nav class="navbar navbar-expand-lg bg-orange">
            <div class="container d-flex justify-content-between">
              <a class="navbar-brand  text-white" href="#">PetCare</a>
              <div class="d-flex justify-content-between gap-2">
                <a class="btn btn-light" aria-current="page" href="{% url 'bem_vindo' %}">Voltar</a>
                <a class="btn btn-entrar" aria-current="page" href="{% url 'loginvet' %}">Entrar</a>
              </div>
            </div>
          </nav>
    </header>
    <div class="jumbotron py-5 bg-orange text-white">
        <div class="container">
          <h1 class="display-3">Seja parte da PetCare</h1>
          <p>A PetCare oferece um espaço dedicado para destacar seus serviços, diferenciais e especializações, alcançando um público que busca exatamente o que você oferece. Ter visibilidade em uma plataforma digital não apenas fortalece sua marca, mas também coloca sua clínica ou serviço como uma escolha preferida para cuidados com pets.</p>
          <p><a class="btn btn-light btn-lg" href="{% url 'cadastrarclinica' %}" role="button">Cadastrar clinica »</a></p>
        </div>
    </div>
    <div class="container" style="margin-top:5rem;">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Construção de uma reputação sólida</h2>
            <p>Ao estar em uma plataforma digital confiável como a PetCare, você se torna parte de uma comunidade recomendada por outros tutores. Avaliações positivas e feedback direto dos clientes ajudam a estabelecer sua credibilidade e aumentam sua base de clientes leais.</p>
          </div>
          <div class="col-md-4">
            <h2>Comunicação clara e organização impecável.</h2>
            <p>Com funcionalidades como lembretes automáticos, histórico de consultas e mensagens diretas, você pode atender seus clientes com precisão. Isso minimiza erros, aumenta a satisfação e fortalece seu relacionamento com seus clientes, amigos e parceiros.</p>
          </div>
          <div class="col-md-4">
            <h2>Adapte-se às necessidades dos clientes com agilidade</h2>
            <p>Gerencie agendamentos, serviços e horários com facilidade por meio de uma interface intuitiva. A PetCare permite ajustar seus serviços em tempo real, facilitando a comunicação com os clientes e aumentando sua eficiência operacional.</p>
          </div>
        </div>
        <hr>
      </div>
</main>
{%endblock%}